* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  background-color: beige;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  background: #141204;
  justify-content: center; /* 水平居中 */
  align-items: center;
  backdrop-filter: blur(6px);
  z-index: 2000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-bottom: 0.5px solid white;
}

#cursor-pointer {
  font-family: "Basis Grotesque Mono Pro", "Space Grotesk", "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

#mapSpilhaus {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  pointer-events: auto;
  display: block;
  background: #000 !important;
}

#mapWgs {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  display: none;
}

.ui-autocomplete {
  background-color: white !important;
  border: 1px solid #ccc !important;
  color: black !important;
  z-index: 10000 !important;
  opacity: 1 !important;
}

#customSearchDropdown {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
  width: 250px;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-interactive {
  pointer-events: auto;
}
.leaflet-tile-pane {
  z-index: 200;
}
.leaflet-overlay-pane {
  z-index: 400;
}
